
<table style="border-collapse:collapse;" class=table_6156 border=0>
<col width="80">
<col width="80">
<col width="80">
<col width="80">
<col width="80">
<col width="80">
<col width="80">
<col width="80">
<col width="80">
<col width="80">
<col width="80">
<thead>
<tr style="border-bottom:2px solid black;border-top:3px solid black;">
  <th id="tableHTML_header_1"> </th>
  <th id="tableHTML_header_2">MolWeight</th>
  <th id="tableHTML_header_3">NumAtoms</th>
  <th id="tableHTML_header_4">NumNonHAtoms</th>
  <th id="tableHTML_header_5">NumBonds</th>
  <th id="tableHTML_header_6">NumNonHBonds</th>
  <th id="tableHTML_header_7">NumMultBonds</th>
  <th id="tableHTML_header_8">NumRotBonds</th>
  <th id="tableHTML_header_9">NumDblBonds</th>
  <th id="tableHTML_header_10">NumAromaticBonds</th>
  <th id="tableHTML_header_11">NumHydrogen</th>
</tr>
</thead>
<tbody>
<tr>
  <td id="tableHTML_column_1" style="text-align:center;">Skewness</td>
  <td id="tableHTML_column_2" style="text-align:center;">0.81</td>
  <td id="tableHTML_column_3" style="text-align:center;">1.23</td>
  <td id="tableHTML_column_4" style="text-align:center;">0.84</td>
  <td id="tableHTML_column_5" style="text-align:center;">1.23</td>
  <td id="tableHTML_column_6" style="text-align:center;">0.84</td>
  <td id="tableHTML_column_7" style="text-align:center;">0.77</td>
  <td id="tableHTML_column_8" style="text-align:center;">2.21</td>
  <td id="tableHTML_column_9" style="text-align:center;">1.58</td>
  <td id="tableHTML_column_10" style="text-align:center;">0.84</td>
  <td id="tableHTML_column_11" style="text-align:center;">1.19</td>
</tr>
<tr>
  <td id="tableHTML_column_1" style="text-align:center;">Box-Cox</td>
  <td id="tableHTML_column_2" style="text-align:center;">0</td>
  <td id="tableHTML_column_3" style="text-align:center;">-0.07</td>
  <td id="tableHTML_column_4" style="text-align:center;">-0.06</td>
  <td id="tableHTML_column_5" style="text-align:center;">-0.19</td>
  <td id="tableHTML_column_6" style="text-align:center;">0.04</td>
  <td id="tableHTML_column_7" style="text-align:center;">-0.09</td>
  <td id="tableHTML_column_8" style="text-align:center;">0.1</td>
  <td id="tableHTML_column_9" style="text-align:center;">0.15</td>
  <td id="tableHTML_column_10" style="text-align:center;">-0.15</td>
  <td id="tableHTML_column_11" style="text-align:center;">-0.04</td>
</tr>
<tr style="border-bottom:3px solid black;">
  <td id="tableHTML_column_1" style="text-align:center;">Yeo-Johnson</td>
  <td id="tableHTML_column_2" style="text-align:center;">0</td>
  <td id="tableHTML_column_3" style="text-align:center;">0</td>
  <td id="tableHTML_column_4" style="text-align:center;">0</td>
  <td id="tableHTML_column_5" style="text-align:center;">0.01</td>
  <td id="tableHTML_column_6" style="text-align:center;">-0.01</td>
  <td id="tableHTML_column_7" style="text-align:center;">-0.14</td>
  <td id="tableHTML_column_8" style="text-align:center;">0.02</td>
  <td id="tableHTML_column_9" style="text-align:center;">0.16</td>
  <td id="tableHTML_column_10" style="text-align:center;">-0.08</td>
  <td id="tableHTML_column_11" style="text-align:center;">0.03</td>
</tr>
</tbody>
</table>