
<table style="border-collapse:collapse;" class=table_1171 border=0>
<col width="80">
<col width="80">
<col width="80">
<col width="80">
<col width="80">
<col width="80">
<col width="80">
<col width="80">
<col width="80">
<col width="80">
<col width="80">
<thead>
<tr style="border-bottom:2px solid black;border-top:3px solid black;">
  <th id="tableHTML_header_1"> </th>
  <th id="tableHTML_header_2">NumCarbon</th>
  <th id="tableHTML_header_3">NumNitrogen</th>
  <th id="tableHTML_header_4">NumOxygen</th>
  <th id="tableHTML_header_5">NumSulfer</th>
  <th id="tableHTML_header_6">NumChlorine</th>
  <th id="tableHTML_header_7">NumHalogen</th>
  <th id="tableHTML_header_8">NumRings</th>
  <th id="tableHTML_header_9">HydrophilicFactor</th>
  <th id="tableHTML_header_10">SurfaceArea1</th>
  <th id="tableHTML_header_11">SurfaceArea2</th>
</tr>
</thead>
<tbody>
<tr>
  <td id="tableHTML_column_1" style="text-align:center;">Skewness</td>
  <td id="tableHTML_column_2" style="text-align:center;">0.87</td>
  <td id="tableHTML_column_3" style="text-align:center;">1.63</td>
  <td id="tableHTML_column_4" style="text-align:center;">1.54</td>
  <td id="tableHTML_column_5" style="text-align:center;">4.17</td>
  <td id="tableHTML_column_6" style="text-align:center;">3.02</td>
  <td id="tableHTML_column_7" style="text-align:center;">2.49</td>
  <td id="tableHTML_column_8" style="text-align:center;">0.98</td>
  <td id="tableHTML_column_9" style="text-align:center;">2.24</td>
  <td id="tableHTML_column_10" style="text-align:center;">1.74</td>
  <td id="tableHTML_column_11" style="text-align:center;">1.55</td>
</tr>
<tr>
  <td id="tableHTML_column_1" style="text-align:center;">Box-Cox</td>
  <td id="tableHTML_column_2" style="text-align:center;">0.06</td>
  <td id="tableHTML_column_3" style="text-align:center;">0.43</td>
  <td id="tableHTML_column_4" style="text-align:center;">0.19</td>
  <td id="tableHTML_column_5" style="text-align:center;">2.27</td>
  <td id="tableHTML_column_6" style="text-align:center;">1.47</td>
  <td id="tableHTML_column_7" style="text-align:center;">1.03</td>
  <td id="tableHTML_column_8" style="text-align:center;">0.01</td>
  <td id="tableHTML_column_9" style="text-align:center;">0.1</td>
  <td id="tableHTML_column_10" style="text-align:center;">-0.13</td>
  <td id="tableHTML_column_11" style="text-align:center;">-0.17</td>
</tr>
<tr style="border-bottom:3px solid black;">
  <td id="tableHTML_column_1" style="text-align:center;">Yeo-Johnson</td>
  <td id="tableHTML_column_2" style="text-align:center;">0</td>
  <td id="tableHTML_column_3" style="text-align:center;">0.43</td>
  <td id="tableHTML_column_4" style="text-align:center;">0.04</td>
  <td id="tableHTML_column_5" style="text-align:center;">3.84</td>
  <td id="tableHTML_column_6" style="text-align:center;">3.17</td>
  <td id="tableHTML_column_7" style="text-align:center;">1.01</td>
  <td id="tableHTML_column_8" style="text-align:center;">0</td>
  <td id="tableHTML_column_9" style="text-align:center;">0.25</td>
  <td id="tableHTML_column_10" style="text-align:center;">-0.23</td>
  <td id="tableHTML_column_11" style="text-align:center;">-0.25</td>
</tr>
</tbody>
</table>